src/main/mule/test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<file:config name="File_Config_LocalSystem" doc:name="File Config" doc:id="e21744ac-f556-4219-bd46-18b8f5b40495" >
		<file:connection workingDir="C:\FI\Tibco\Customer-BW5-27Sept\BusinessProcesses\Customer\StarterProcess\output\" />
	</file:config>
	<flow name="testFlow" doc:id="d1cc0af1-518f-44a4-8158-77970ffdbbe1" >
		<http:listener doc:name="Listener" doc:id="31d44fa9-19c1-425f-85c8-35f9fec9be13" config-ref="HTTP_Listener_config" path="/file"/>
		<file:list doc:name="List" doc:id="09550764-e621-413b-b514-f6ad1fe18388" directoryPath="C:\FI\Tibco\Customer-BW5-27Sept\BusinessProcesses\Customer\SubProcess" recursive="true">
			<file:matcher filenamePattern="*.process" />
		</file:list>
		<foreach doc:name="For Each" doc:id="5e623723-838c-40e3-a501-901e003c79f4" >
			<ee:transform doc:name="set-mimeType" doc:id="5388b048-8a4b-4344-8414-70ae8836ef91" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
read(payload,'application/xml')]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<ee:transform doc:name="set-FileName" doc:id="0a41efc0-ff90-44bf-9783-dfc652931eb0" >
				<ee:message >
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="fileName" ><![CDATA[%dw 2.0
output application/java
---
attributes.'fileName' default "" ++ ".xml"]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<ee:transform doc:name="source/process-components" doc:id="f0e1fb18-dc53-4523-9817-54e4b02c2d47">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="sourceComponent"><![CDATA[%dw 2.0
output application/java
---

[
	if (payload.ProcessDefinition.starter.resourceType == "ae.activities.JMSQueueEventSource") (
	(payload.ProcessDefinition.starter.@'name'): {
		"doc:name" : payload.ProcessDefinition.starter.@name,
		"config-ref" : ((payload.ProcessDefinition.starter.config.ConnectionReference) splitBy("/"))[-1],
		"destination" : vars[((payload.ProcessDefinition.starter.config.SessionAttributes.destination) splitBy("/"))[-1]],
		"persistentDelivery" : if(payload.ProcessDefinition.starter.config.ConfigurableHeaders.JMSDeliveryMode == "PERSISTENT") true  else false,
		"timeToLive" : payload.ProcessDefinition.starter.config.ConfigurableHeaders.JMSExpiration,
		"timeToLiveUnit" : "SECONDS",
		"priority" : payload.ProcessDefinition.starter.config.ConfigurableHeaders.JMSPriority
	}) 
	
	else if (payload.ProcessDefinition.starter.resourceType == "ae.activities.FileEventSourceResource") (
	(payload.ProcessDefinition.starter.@'name'): {
		"doc:name" : payload.ProcessDefinition.starter.@name,
		directory : payload.ProcessDefinition.starter.config.fileName
	})
	else if (payload.ProcessDefinition.starter.resourceType == "httppalette.httpEventSource") (
	(payload.ProcessDefinition.starter.@'name'): {
		"doc:name" : payload.ProcessDefinition.starter.@name,
		"config-ref" : ((payload.ProcessDefinition.starter.config.sharedChannel) splitBy("/"))[-1],
		"path": "/"
	})
	
	else ""
]
]]></ee:set-variable>
				<ee:set-variable variableName="processComponents"><![CDATA[%dw 2.0
output application/java
---
payload.ProcessDefinition.*activity map (
	if($.resourceType == "ae.activities.log") (
		($.@name): {
			"doc:name" : $.@name,
			"message" : $.inputBindings.message
		}
	)
	else if($.resourceType == "ae.activities.JDBCUpdateActivity") (
		($.@name): {
			"doc:name" : $.@name,
			"config-ref" : ($.config.jdbcSharedConfig splitBy("/"))[-1],
			"sql" : $.config.statement replace "Values%" with "",
			"input-parameters" : $.inputBindings.'jdbcUpdateActivityInput'.*parameter map $.parameterName
		}
	)
	else if($.resourceType == "ae.activities.JMSQueueSendActivity") (
		($.@name): {
			"doc:name" : $.@name,
			"config-ref" : ($.config.ConnectionReference splitBy("/"))[-1],
			"destination" : vars[$.config.SessionAttributes.destination] default "",
			"persistentDelivery" : if($.config.ConfigurableHeaders.JMSDeliveryMode == "PERSISTENT") true else false,
			"timeToLive" : $.config.ConfigurableHeaders.JMSExpiration default "",
			"timeToLiveUnit" : "SECONDS",
			"priority" : $.config.ConfigurableHeaders.JMSPriority default ""		
			}
	)
	else if($.resourceType == "ae.activities.catch") (
		($.@name): {
			"doc:name" : $.@name,
			"message": p('connectorNotFoundMessage')		
			}
	)
	else if($.resourceType == "ae.activities.JSONParserActivity") (
		($.@name): {
			"doc:name" : $.@name,
			"message": p('connectorNotFoundMessage')		
			}
	)
	else if($.resourceType == "ae.activities.JSONRenderActivity") (
		($.@name): {
			"doc:name" : $.@name,
			"message": p('connectorNotFoundMessage')		
			}
	)
	else if($.resourceType == "httppalette.httpWebResponse") (
		($.@name): {
			"doc:name" : $.@name,
			"path": "/"	,
			"method": "GET",
			"url":""
			}
	)
	else if($.resourceType == "ae.process.subprocess") (
		($.@name): {
			"doc:name" : $.@name,
			"name" : ($.config.processName splitBy("/"))[-1]
			}
	)
	else if($.resourceType != null) (
		($.@name): {
			"doc:name" : $.@name,
			"message": p('connectorNotFoundMessage')
			}
	)
	else ""
)]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
			<ee:transform doc:name="transform as mule-xml" doc:id="a4a7f483-1e1d-4c02-a11d-3758b89b65f8">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml
---
mule @('xmlns': "http://www.mulesoft.org/schema/mule/core",
	'xmlns:doc': "http://www.mulesoft.org/schema/mule/documentation",
	'xmlns:xsi' :"http://www.w3.org/2001/XMLSchema-instance",
	'xsi:schemaLocation' : "http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
    http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd"):{
    (vars.properties.mule),
    (vars.configs.mule),	    
    (flow @(name: "tibco-to-mule-migration-flow", 'doc:id': "c2f9df18-fe5d-415b-9142-f9274d00127d"): {
    	(if(payload.ProcessDefinition.starter.resourceType == "ae.activities.JMSQueueEventSource")(
						'jms:listener' @('doc:name': vars.sourceComponent[payload.ProcessDefinition.starter.@name][0].'doc:name',
						'doc:id': "996d170f-3775-4c56-9fa7-14fd34c8a190",
				        'config-ref': vars.sourceComponent[payload.ProcessDefinition.starter.@name][0].'config-ref',
				        'destination': vars.sourceComponent[payload.ProcessDefinition.starter.@name][0].'destination',
				        'persistentDelivery': vars.sourceComponent[payload.ProcessDefinition.starter.@name][0].'persistentDelivery',
				        'timeToLive': vars.sourceComponent[payload.ProcessDefinition.starter.@name][0].'timeToLive',
				        'timeToLiveUnit': vars.sourceComponent[payload.ProcessDefinition.starter.@name][0].'timeToLiveUnit',
				        'priority': vars.sourceComponent[payload.ProcessDefinition.starter.@name][0].'priority'
				):{}
			)
			else if(payload.ProcessDefinition.starter.resourceType == "ae.activities.FileEventSourceResource")(
						'file:listener' @('doc:name': vars.sourceComponent[payload.ProcessDefinition.starter.@name][0].'doc:name',
						'doc:id': "996d170f-3775-4c56-9fa7-14fd34c8a190",
				        'config-ref': vars.sourceComponent[payload.ProcessDefinition.starter.@name][0].'config-ref'
						):{}
					
						)
			else if(payload.ProcessDefinition.starter.resourceType == "httppalette.httpEventSource")(
						'http:listener' @('doc:name': vars.sourceComponent[payload.ProcessDefinition.starter.@name][0].'doc:name',
						'doc:id': "996d170f-3775-4c56-9fa7-14fd34c8a190",
						'path': "/",
				        'config-ref': vars.sourceComponent[payload.ProcessDefinition.starter.@name][0].'config-ref'
				  ):{}
				  )
			
		  else {}),
		(payload.ProcessDefinition.*activity map (
			if($.resourceType == "ae.activities.log")(
				'logger' @('doc:name': vars.processComponents[$.@name][0].'doc:name' ,'doc:id': "996d170f-3775-4c56-9fa7-14fd34c8a190" ,'level': "INFO",'message': upper(vars.processComponents[$.@name][0].'message')):{}
			)
			else if($.resourceType == "ae.activities.JDBCUpdateActivity")(
				'db:insert' @('doc:name': vars.processComponents[$.@name][0].'doc:name' ,'doc:id': "996d170f-3775-4c56-9fa7-14fd34c8a190" ,'config-ref': vars.processComponents[$.@name][0].'config-ref'):{
					'db:sql': vars.processComponents[$.@name][0].'sql'
				}
			)
			else if($.resourceType == "ae.activities.JMSQueueSendActivity")(
				'jms:publish' @('doc:name': vars.processComponents[$.@name][0].'doc:name' ,'doc:id': "996d170f-3775-4c56-9fa7-14fd34c8a190" ,'config-ref': vars.processComponents[$.@name][0].'config-ref'):{}
			)
		else if($.resourceType == "ae.activities.JSONParserActivity")(
				'logger' @('doc:name': vars.processComponents[$.@name][0].'doc:name' ,'doc:id': "996d170f-3775-4c56-9fa7-14fd34c8a190" ,'level': "INFO",'message': (vars.processComponents[$.@name][0].'message')):{}
			)
			
			else if($.resourceType == "ae.activities.JSONRenderActivity")(
				'logger' @('doc:name': vars.processComponents[$.@name][0].'doc:name' ,'doc:id': "996d170f-3775-4c56-9fa7-14fd34c8a190" ,'level': "INFO",'message': (vars.processComponents[$.@name][0].'message')):{}
			)
			else if($.resourceType == "httppalette.httpWebResponse")(
				'http:request' @('doc:name': vars.processComponents[$.@name][0].'doc:name' ,'doc:id': "996d170f-3775-4c56-9fa7-14fd34c8a190" ,'config-ref': vars.processComponents[$.@name][0].'config-ref'):{}
			)
			else if($.resourceType == "ae.process.subprocess")(
				'flow-ref' @('doc:name': vars.processComponents[$.@name][0].'doc:name' ,'doc:id': "996d170f-3775-4c56-9fa7-14fd34c8a190" ,'config-ref': vars.processComponents[$.@name][0].'config-ref'):{}
			)
			else if($.resourceType != null)(
				'logger' @('doc:name': vars.processComponents[$.@name][0].'doc:name' ,'doc:id': "996d170f-3775-4c56-9fa7-14fd34c8a190" ,'level': "INFO",'message': (vars.processComponents[$.@name][0].'message')):{}
			)
			else {}
		) reduce ($$ ++ $)
	)})
}


]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			<logger level="INFO" doc:name="Logger" doc:id="a7a69017-6b8a-4293-a413-c37d8bff93db" message="#[now()] payload -&gt; #[payload]"/>
			<file:write doc:name="Write" doc:id="383a46e8-b237-4c3f-990c-f4445671068a" path="#[vars.fileName]" config-ref="File_Config_LocalSystem"/>
		</foreach>
		<logger level="INFO" doc:name="Logger" doc:id="9648a105-158c-4b49-a0d1-4d2066064bc6" message="#['Transformation process completed']"/>
	</flow>
</mule>
