src/main/mule/tibco-to-mule-migration.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c8affae6-4cd7-4cd1-995d-ac89eba920f9" >
		<http:listener-connection host="localhost" port="8083" />
	</http:listener-config>
	<flow name="tibco-to-mule-migrationFlow" doc:id="52633385-4840-4005-a216-56f24bf96959" >
		<http:listener doc:name="Listener" doc:id="0a2f2e84-72b7-47a8-9f5f-bdb4565e22d7" config-ref="HTTP_Listener_config" path="/migration"/>
		<flow-ref doc:name="global-tibco-element-propertiesFlow" doc:id="9525470b-fc1f-4d44-8ab6-fd88443282ce" name="global-tibco-element-propertiesFlow" target="properties" targetValue="#[payload]"/>
		<flow-ref doc:name="global-tibco-element-convertFlow" doc:id="90ba18eb-8369-468d-8d82-4029b705b915" name="global-tibco-element-convertFlow" target="configs" targetValue="#[payload]"/>
		<flow-ref doc:name="global-tibco-flow-convertFlow" doc:id="530cf25a-d8c8-412f-8483-fd0f7515f0d7" name="global-tibco-flow-convertFlow"/>
	</flow>
	
	<flow name="global-tibco-element-propertiesFlow" doc:id="d262cf15-9e71-456c-ac3d-358bb9da4dde">
		<file:list doc:name="List" doc:id="f86a8ab7-ebd3-4060-90da-bf3a87be4130" directoryPath="${app.home}/tibco/defaultVars" recursive="true">
			<file:matcher directories="EXCLUDE" />
		</file:list>
		<foreach doc:name="For Each" doc:id="93c5832a-f003-4129-9c3f-d7540b9d85dc" >
			<ee:transform doc:name="Transform Message" doc:id="61bb8580-9ccc-4c58-9a63-d4f3921b7fa3" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
read(payload,'application/xml')]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<ee:transform doc:name="Transform Message" doc:id="36dec6ae-834a-4f89-91b6-c7e80f890129">
			<ee:variables>
				<ee:set-variable variableName="properties"><![CDATA[%dw 2.0
output application/xml
---
"mule" @("xmlns:ee": "http://www.mulesoft.org/schema/mule/ee/core", "xmlns:http": "http://www.mulesoft.org/schema/mule/http", 
		"xmlns": "http://www.mulesoft.org/schema/mule/core", "xmlns:doc": "http://www.mulesoft.org/schema/mule/documentation",
		"xmlns:xsi": "http://www.w3.org/2001/XMLSchema-instance",
		"xsi:schemaLocation": "http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd " ++ 
		"http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd " ++
		"http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd"): {
	(vars.properties.mule),
	((payload.repository.globalVariables.*globalVariable default []) map(record,count) -> {
		"global-property" @(
			"doc:name": "Global Property", 
			"doc:id": uuid(), 
			"name": (attributes.path replace p('app.home') with "") ++ record.name, 
			"value": (record.value default "")
		): ""
	})
} ]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		</foreach>
		<ee:transform doc:name="Transform Message" doc:id="de0d4283-c900-4313-b727-0407dec10e24" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
vars.properties]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	
	<flow name="global-tibco-element-convertFlow" doc:id="c3f1f2e0-d691-471d-b5f1-b3c441b6aca3" >
		<file:list doc:id="9dfaf0b9-05cf-499e-b077-e5d1802b99c1" directoryPath="${app.home}/tibco/BusinessProcesses/SharedResources/Connections" recursive="true">
			<file:matcher filenamePattern="*.shared*" directories="EXCLUDE" />
		</file:list>
		<foreach doc:name="For Each" doc:id="4b763720-f49c-49e7-9f5d-a635b31a0481" >
			<ee:transform doc:name="Setting mimeType" doc:id="bba30934-6051-41b1-87a4-5ef175f93c99" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
read(payload,'application/xml')]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<ee:transform doc:name="Transform Message" doc:id="446f5f86-53df-4ff1-acab-710a2ba51d57">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
fun getIndex(obj,value) = (obj.*row map if($.PropertyName == value) $$ else "") filter ($ != "")
---
(using (temp=payload.httpSharedResource.config) 
	if (payload.httpSharedResource != null) ({
		"type": "httpListener",
		"name": "/BusinessProcesses/SharedResources/Connections/HTTP/" ++ (attributes.fileName default "Test"),
		"host":	if(temp.Host contains "%%") (("\$/{" ++ (temp.Host replace "%%" with "") ++ "}") replace "/" with "") 
				else (temp.Host default "localhost"),
		"port": if(temp.Port contains "%%") (("\$/{" ++ (temp.Port replace "%%" with "") ++ "}") replace "/" with "") 
				else (temp.Port default "8081")
	})
	else ({})
)
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			<ee:transform doc:name="Transform Message" doc:id="2f4f9879-1f6a-4338-9996-07572524a06d" >
				<ee:variables >
					<ee:set-variable variableName="configObject" ><![CDATA[%dw 2.0
output application/json
---
flatten([
	vars.configObject default {},
	payload
])]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
		</foreach>
		<ee:transform doc:name="Transform Message" doc:id="8d9319fd-0564-46f7-a60d-ce3aeb0ee972" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
vars.configObject filter ($ != {})]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="de6d943d-ae09-496d-887d-85a97691dbc9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
"mule" @("xmlns:ee": "http://www.mulesoft.org/schema/mule/ee/core", "xmlns:http": "http://www.mulesoft.org/schema/mule/http", 
		"xmlns": "http://www.mulesoft.org/schema/mule/core", "xmlns:doc": "http://www.mulesoft.org/schema/mule/documentation",
		"xmlns:xsi": "http://www.w3.org/2001/XMLSchema-instance",
		"xsi:schemaLocation": "http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd " ++ 
		"http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd " ++
		"http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd"): {
	(payload map(record,count) -> {
		(if(record.'type' == "httpListener") (
			"http:listener-config" @("name":record.name, "doc:name": "HTTP Listener Config", "doc:id": uuid()): {
				"http:listener-connection" @("host": record.host, "port": record.port): ""	
			}
		)
		else ({}))
	})
} ]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	
	<flow name="global-tibco-flow-convertFlow" doc:id="8ca15972-3e98-4be9-a2a8-bcd36d943bc2" >
		<file:read doc:name="Read" doc:id="b949cc54-c868-4658-9f78-bad9d9156fa5" path="C:\Users\rukaplesh\Desktop\Repo\Flow\Process.bwp"/>
		<ee:transform doc:name="Transform Message" doc:id="2e63decc-de69-484b-9d0e-63a83074bdae" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
read(payload,'application/xml')]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="b9ee5f98-8068-44c3-b96c-1950c301a6a8">
			<ee:message>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="nameSpaceConstant" ><![CDATA[%dw 2.0
output application/java
---
value: 'xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
<flow doc:id="030ceaf6-c970-4775-b053-072e3a2c5d9b" name="tibco-to-mule-migration">']]></ee:set-variable>
				<ee:set-variable variableName="httpConfigString" ><![CDATA[%dw 2.0
output application/java
---
value: '<doc:name="Listener" doc:id="b1a1571b-fe31-497c-9fce-a68e74b5edca" config-ref="HTTP_Listener_config" host= ":host" port= ":port" path= ":path">']]></ee:set-variable>
				<ee:set-variable variableName="initialPayload" ><![CDATA[%dw 2.0
output application/xml
---
payload]]></ee:set-variable>
				<ee:set-variable variableName="tibcoComponentList" ><![CDATA[%dw 2.0
output application/java
---
payload.'process'.'scope'.'flow'.*'extensionActivity' map ((payload01,payload01index) ->(
	if(payload01..'BWActivity'.@activityTypeID[0] == "bw.http.HTTPReceiver")(
    	(payload01.receiveEvent.@'name'): {
    		"config-ref": payload.'process'.'variables'.*variable[?($.@name == payload01.receiveEvent.eventSource.BWActivity.activityConfig.properties.value.@httpConnection)][0].'from'.literal,
    		"path": payload01.receiveEvent.eventSource.BWActivity.activityConfig.properties.value.@endpointUri
        } 
)
	else if(payload01..'BWActivity'.@activityTypeID[0] == "bw.generalactivities.log")(
		(payload01.activityExtension.@'name'): {
			"level": payload01.activityExtension.config.BWActivity.activityConfig.properties.value.@role
		   }
	)
	else if(payload01..'BWActivity'.@activityTypeID[0] == "bw.file.write")(
		(payload01.activityExtension.@'name'): {
			"fileName": payload01.activityExtension.config.BWActivity.activityConfig.properties.value.@fileName,
			"append": if(payload01.activityExtension.config.BWActivity.activityConfig.properties.value.@append == "true")"APPEND" else "OVERWRITE"
			
		   }
	)
	else if(payload01..'BWActivity'.@activityTypeID[0] == "bw.jdbc.JDBCQuery")(
		(payload01.activityExtension.@'name'): {
			"config-ref": payload.'process'.'variables'.*variable[?($.@name == payload01.activityExtension.config.BWActivity.activityConfig.properties.value.@sharedResourceProperty)][0].'from'.literal,
			"maxRows": payload01.activityExtension.config.BWActivity.activityConfig.properties.value.@maxRows,
			"sqlStatement": payload01.activityExtension.config.BWActivity.activityConfig.properties.value.@sqlStatement
			
		   }
	)
		else ""
))
]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="855239e2-11c0-41d4-b1c3-6b63e2b70311">
			<ee:message>
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
mule @('xmlns': "http://www.mulesoft.org/schema/mule/core",
	'xmlns:doc': "http://www.mulesoft.org/schema/mule/documentation",
	'xmlns:xsi' :"http://www.w3.org/2001/XMLSchema-instance",
	'xsi:schemaLocation' : "http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
    http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd"):{
    (vars.properties.mule),
    (vars.configs.mule),	    
    (flow @(name: "tibco-to-mule-migration-flow", 'doc:id': "c2f9df18-fe5d-415b-9142-f9274d00127d"): (
		payload.'process'.'scope'.'flow'.*'extensionActivity' map (
			if($..'BWActivity'.@activityTypeID[0] == "bw.http.HTTPReceiver")(
				'http:listener' @('doc:name':"Listener" ,'doc:id': "006d170f-3775-4c56-9fa7-14fd34c8a190" ,'config-ref':  vars.tibcoComponentList[$.receiveEvent.@'name'][0].'config-ref' ,'path': vars.tibcoComponentList[$.receiveEvent.@'name'][0].'path'):{}
			)
			else if($..'BWActivity'.@activityTypeID[0] == "bw.generalactivities.log")(
				'logger' @('doc:name':"Logger" ,'doc:id': "996d170f-3775-4c56-9fa7-14fd34c8a190" ,'level': upper(vars.tibcoComponentList[$.activityExtension.@'name'][0].level default "INFO"),'message': "test"):{}
			)
			else if($..'BWActivity'.@activityTypeID[0] == "bw.file.write")(
				'file:write' @('doc:name':"Write" ,'doc:id': "996d170f-3775-4c56-9fa7-14fd34c8a190" ,'path':  vars.tibcoComponentList[$.activityExtension.@'name'][0].fileName, "mode": vars.tibcoComponentList[$.activityExtension.@'name'][0].append):{}
			)
			else if($..'BWActivity'.@activityTypeID[0] == "bw.jdbc.JDBCQuery")(
				'db:select' @('doc:name':"Select" ,'doc:id': "996d170f-3775-4c56-9fa7-14fd34c8a190" ,'config-ref':  vars.tibcoComponentList[$.activityExtension.@'name'][0].'config-ref', "maxRows": vars.tibcoComponentList[$.activityExtension.@'name'][0].maxRows ):{
					'db:sql' : vars.tibcoComponentList[$.activityExtension.@'name'][0].sqlStatement
				}
			)
			else {}
		) reduce ($$ ++ $)
	))
}


]]></ee:set-payload>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="nameSpaceConstant" ><![CDATA[%dw 2.0
output application/java
---
value: 'xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
<flow doc:id="bff73d81-a042-4986-b790-d6a2854fa397" name="tibco-to-mule-migration">']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<file:write doc:name="Write" doc:id="d6f6ee3c-cb3b-4fee-b55f-c373262eca53" path="C:\Users\rukaplesh\Desktop\Repo\output.xml">
		</file:write>	
	</flow>
	
</mule>
